@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

.rmsc .dropdown-container {
  background-color: inherit !important;
}

.panel-content {
  background-color: #191e24 !important;
}

.rmsc .search input:focus {
  background-color: inherit !important;
}

.rmsc .select-item:hover {
  background-color: inherit !important;
}

.rmsc .select-item.selected {
  background-color: #0d0e0f !important;
}
